:root {
    --primary-clr: hsl(0, 0%, 100%);
    --primary-light-clr: hsl(0 0% 100% / 0.8);
    --secondary-clr: hsl(0, 0%, 5%);
    --secondary-light-clr: hsl(0 0% 5% / 0.3);
    --secondary-shade: hsl(0, 0%, 10%);
    --accent-clr: hsl(30, 69%, 59%);

    --border-radius: 0.5rem;

    --fz-xs: 0.7rem;
    --fz-sm: 0.85rem;
    --fz-md: 1rem;
    --fz-lg: 1.2rem;
    --fz-xl: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
}

/* general css */
.overlay {
    border-image-source: linear-gradient(var(--secondary-light-clr), hsl(0, 0%, 5%));
    border-image-slice: fill 1;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

/* scrollbar css */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--secondary-shade);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-light-clr);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-clr);
}