# --- Dependencies ---
node_modules/

# --- Build Outputs ---
dist/
build/
out/

# --- Secrets (VERY IMPORTANT) ---
.env
.env.local
.env.production

systemArchitect.txt

# --- System Files ---
.DS_Store
Thumbs.db

# Ignore the output folder where we build user projects
build-server/output/
build-server/src/output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
